* {
    box-sizing: border-box;
}

.main-page-body {
    font-family: "Montserrat", Arial, sans-serif;
    color: white;
    background-color: #141515;
}

.no-scroll {
    overflow: hidden;
}

.main-bg-wrapper {
    display: flex;
    flex-direction: column;
}

.main-bg {
    background-image: url("./img/gym.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 442px;
}

.main-page-header  {
    position: fixed;
    top:0;
    height: 54px;
    width: 100%;
    background-color: #141515;
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 14px;
}

.nav {
    display: none;
}

.menu {
    align-self: center;
    margin-left: auto;
    margin-right: 26px;
    right: 0;
    position: absolute;
    width: 24px;
    height: 14px;
    z-index: 20;
}

.nav-active {
    background-color: #0a0a0a;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    font-size: 20px;
    font-weight: 500;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index:15;
  }

.nav-item {
    padding-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
}

 .burger {
    top: 6px;
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: #F38A03;
  }

.menu:before, .menu:after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: #F38A03;
    transition: all 0.2s ease-out 0s;
}

.active{
    transform: rotate(45deg);
}

.menu:before {
    top: 0; }

.menu:after {
    bottom: 0;
}

.menu-active:before {
    transform: rotate(45deg) translateY(9px);
}

.menu-active:after {
    transform: rotate(-45deg) translateY(-8px);
}

.main-section {
    margin-top: 48px;
    background-color: #141515;
    display: flex;
    flex-direction: column;
}

.display-1 {
    text-align: center;
    font-size: 25px;
}

.display-2 {
    text-align: center;
    font-size: 16px;
    text-decoration: underline;
}

.contact-style {
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.field-wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 281px;
}

.field {
    background-color: #000000;
}

.major {
    width: 257px;
    height: 110px;
    line-height: 110px;
    vertical-align: middle;
    margin-top: 40px;
    align-self: center;
}

.minor {
    width: 131px;
    height: 36px;
    line-height: 36px;
    vertical-align: middle;
    margin-top: 14px;
    align-self: center;
}

.decoration {
    width: 70%;
    height: 64px;
    background-color: #EC1A56;
    margin-left: auto;
}

.lead {
    width: 265px;
    font-size: 16px;
    line-height: 20px;
    margin: 38px auto 60px;
}

.benefits-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 46px;
}

.benefit {
    flex: 1 0 calc(50% - 20px);
    padding-left: 28px;
    padding-right: 28px;
    display: flex;
    flex-direction: column;
}

.description {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 20px;
    text-align: center;
}

.icon {
    margin: 0 auto;
}

.icon.card {
    align-self: start;
    width: 55px;
    height: 55px;
    margin-bottom: 8px;
}

.map-wrapper {
    border: 5px solid #EC1A56;
    width: 92.6%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 63px;
    padding: 10px;
    position: relative;
}

.map {
    width: 100%;
    height: auto;
}

.map-description {
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
}

.pin {
    position: absolute;
    width: 3%;
    top: 35%;
    left: 52%;
}

.cell-1 { grid-area: cell-1; }
.cell-2 { grid-area: cell-2; }
.cell-3 { grid-area: cell-3; }
.cell-4 { grid-area: cell-4; }
.cell-5 { grid-area: cell-5; }
.cell-6 { grid-area: cell-6; }
.cell-7 { grid-area: cell-7; }
.cell-8 { grid-area: cell-8; }


.contacts-wrapper {
    margin: 0 auto;
    width: 100%;
    border: 5px solid #F38A03;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
            "cell-1 cell-2"
            "cell-3 cell-4"
            "cell-5 cell-6"
            "cell-7 cell-8";
    column-gap: 22px;
    row-gap: 24px;
    padding: 21px;
}

.cell-3, .cell-5, .cell-7 {
    justify-self: self-end;
    align-self: center;
}

.contacts-text {
    font-size: 18px;
    line-height: 27px;
}

@media screen and (min-width: 768px) {

.menu {display: none;
}

.nav-item {
    padding-bottom: 0;
}

.field-wrapper {
    margin-top: 80px;
        width: 415px;
    }

    .major {
        width: 327px;
        height: 141px;
        line-height: 141px;
        vertical-align: middle;
    }

    .minor {
        width: 200px;
        height: 55px;
        line-height: 55px;
        vertical-align: middle;
    }

    .nav {
        font-size: 20px;
        font-weight: 500;
        list-style-type: none;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        width: 50%;
    }

    .main-section {
        margin-top: 96px;
        width: 928px;
        margin-left: auto;
        margin-right: auto;
    }

    .logo {
        position: absolute;
        left: 3%;
    }

    .main-page-header {
        height: 96px;
        width: 100%;
    }

    .main-bg-wrapper {
        max-width: 1042px;
        flex-direction: row;
    }

    .main-bg {
        width: 949px;
        height: 513px;
    }

    .decoration {
        width: 100px;
        height: 347px;
    }

    .lead {
        margin-left: 27px;
        width: 900px;
        font-size: 25px;
        line-height: 38px;
        text-align: left;
        justify-self: left;
    }

    .benefits-wrapper {
        margin-bottom: 40px;
    }

    .benefit {
        flex: 1 0 calc(33.33% - 20px);

    }

    .description {
        font-size: 18px;
        line-height: 30px;
    }

    .icon.card {
        width: 65px;
        height: 65px;
        margin-bottom: 14px;
    }

    .map-wrapper {
        max-width: 579px;
    }

    .contacts-wrapper {
        text-align: left;
        content: "email";
        font-size: 25px;
        font-weight: 400;

        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
                "cell-2 cell-1 . "
                "cell-3 cell-5 cell-7"
                "cell-4 cell-6 cell-8";
        border: none;
        column-gap: 2px;
        row-gap: 2px;
        margin-bottom: 67px;
    }

    .icon.contact {
        width: 45px;
    }

    .cell-1, .cell-3, .cell-4, .cell-5, .cell-6, .cell-7, .cell-8 {
        justify-self: center;
        align-self: start;
    }


    .cell-3, .cell-5, .cell-7 {
    margin-bottom: 35px;
    }

    .cell-2 {
        justify-self: end;
    }

    .contact-style {
        font-size: 45px;
        font-weight: 400;
        margin-bottom: 80px;
    }

    .contacts-text {
        font-size: 25px;
        font-weight: 400;
        line-height: 1.5;
    }
}

@media screen and (max-width: 1264px) {
    .logo {
        margin-left: 0;
    }

}

@media screen and (max-width: 1050px) {
    .logo {
        margin-left: 12px;
    }
}

.hidden {
    display: none;
}